.input-search {
  margin-bottom: 0px !important;
  border-bottom: none !important;
  height: auto !important;
  position: relative;
  top: -5px;
  font-size: 1.5rem !important;
}

.dialog-image {
  width: 100% !important;
  height: auto !important;
}

.input-search:focus {
  border-bottom: none !important;
}


.item-title {
  font-size: 2vw !important;
}

.search-wrapper {
  height: 50px !important;
}

.item-title-small {
  font-size: 16px !important;
}

.card-content {
  min-height: 120px;
}
