/*.nav-search-input {
  border-bottom: none !important;
  outline: none;
  padding: 8px 8px 8px 72px !important;
  height: 30px;
}*/

/*.nav-wrapper {
  padding-left: 10px;
  padding-right: 10px;
}*/
